* {
    margin: 0;
    padding: 0;
}

.landing-jumbo {
    border: 1px solid hsl(0, 100%, 39%);
    padding: 50px;
    margin: 10px auto;
    width: 50%;
}

p {
    text-align: center;
}

.crest {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

.login-form {
    border: 1px solid hsl(0, 100%, 39%);
    padding: 50px;
    margin: 5px;
    width: 50%;
    margin: 0 auto;
}

.register-link {
    margin-top: 30px;
    justify-content: right
}

.landingpage-button {
    padding: 5px;
}

