*{
    margin: 0;
    padding: 0;
}

.chat-sidebar-container{
    border-right:hsl(0, 100%, 39%) 1px solid;
}

.chat-navbar-container,.chat-sidebar-container,.chat-box-container {
    background: white;
}

.chat-wrapper{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.chat-navbar-container{
    width: 100%;

}

.chat-sidebar-container{
    width: 30%;
    min-height: 800px;
    height: auto;
}

.chat-box-container{
    display: flex;
    flex-direction: flex-end;
    width: 70%;

}


.chat-footer-container{
    width: 100%;

}