@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
    margin: 0;
    padding: 0;
}

.nav-container{
    height: 41px;
    border: hsl(0, 100%, 39%) 1px solid;
}
.nav-links{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;

}

.nav-item{
    text-align: center;
    width: 25%;
    height: 40px;
    padding: 9px;
}

.nav-links a {
    color: black;
}

.selected{
    font-weight: bold;
   
    border-bottom: 3px solid  red;
  
}
